.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

li {
  
  padding-bottom: 5px;
}

h1 {
    font-size: 56px;
    line-height: 40px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a {
   background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: right;
    margin-top: 10px;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4ACCF3;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #4AA4F3;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

li {
  font-size: 20px;
  font-family: Verdana;
}

/*Nav Bar congig*/

h1{
  
  display: inline;

}