<h1> Twitter API</h1>

 <div id="logo">
  <form action="/sign_in" method="get">
      <input class="icontwitter" type=image src="http://couturemahal.com/image/data/twitter.png">
      <br><br><label style="color:white;top:23%;font-weight: bold;right: 4%;"class="icontwitter">Iniciar Session</label>
  </form>
</div>

