<h1><%= @user_name %></h1>
<a href="/<%= @current_user %>">Home</a>

<% if @user_tweets %>
  <% @user_tweets.each do |tweet| %>
    <ul>
      <li><%= tweet.text %></li>
      <br>
    </ul>  
  <% end %>
<% end %>


